/*chart fills chart area*/
#live-chart {
    flex: 4;
    height: 100%;
    z-index: 1;
    pointer-events: none; /* Chart ignoriert Maus → Controls können drüber bewegt werden */
}


/* verhindert dass Plotly Controls überlagert */
.js-plotly-plot .plotly {
    pointer-events: none;
}

/* Tooltips besser sichtbar */
.plotly-tooltip {
    font-size: 0.9rem;
    background: rgba(0,0,0,0.8);
    border-radius: var(--radius-s);
}
